.post {
  padding: 10px;
  background: #eee;
  height: 100vh;
  margin: 0 auto;
}

.post > div {
  display: flex;
  flex-wrap: wrap;
}

.post > div > div {
  background: #fff;
  width: 250px;
  padding: 10px;
  margin-bottom: 10px;
}

.post > div > div > h1 {
  font-size: 18px;
  padding: 10px 0;
}

.post > div > div > p {
  font-size: 14px;
  line-height: 1.3;
}

.post > div > div > img {
  width: 230px;
}
